/* CUSTOM STYLES */

body {
  text-align: center;
}

.search 
.nav {
  background: black;
}

nav {
  width: 100%;
  background-color: black;
  padding: 10px 0;
}

nav a {
  margin: 10px;
  text-decoration: none;
  font-size: 40px;
  color: white;
  padding: 10px;
}

nav a:hover {
  background: white;
  color: black;
  border-radius: 5px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 auto;
  background: #444341;
  padding: 100px;
  font-weight: 700;
}

.footer {
  background-color: #555;
  width: 100%;
  height: 20px;
  padding: 10px;
  margin: 20px;
}

.footer-text {
  color: #fff;
  font-size: 10px;
}

.div-sunsettime {
  border:1px solid black;
  margin: 10px;
}

.space {
  margin: 15px 0;
}

.btn {
  font-size: 20px !important;
}

input[type="submit"] {
  font-size: 20px !important;
  border: 2px solid blue !important;
  border-radius: 3px;
}

input {
  display: block;
  margin: 10px auto;
  width: 300px;
  height: 50px;
  font-size: 40px;
}

label {
  font-size: 24px;
}

.btn-primary {
  color: #fff;
  background-color: #11f;
  border-radius: 2px;
  font-size: 20px !important;
  border: none;
  padding: 3px;
}

.btn-primary:hover {
  background-color: #77f;
}

.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 80px auto 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 80px auto 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  border-radius: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

