/* CUSTOM STYLES */

nav {
  width: 100%;
  background-color: black;
  padding: 10px 0;
  text-align: right;
}

nav a {
  margin: 1px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 10px;
  transition: all .1s;
}

nav a:hover {
  background: white;
  color: black;
  border-radius: 1px;
}

ul {
  list-style: none;
}

li {
  margin: 10px;
  display: inline-block;
  padding: 20px;
  color: white;
  font-weight: 400;
  background: #555;
}


.error {
  background-color: pink;
  color: red;
  border: 1px solid red;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 80px auto 10px auto;
}

.success {
  background-color: #ceffce;
  color: green;
  border: 1px solid green;
  border-radius: 2px;
  padding: 10px 30px;
  width: 75%;
  margin: 80px auto 10px auto;
}

.no-flash {
  visibility: hidden;
  padding: 10px 30px;
  width: 75%;
  margin: 10px auto;
}

.x-button {
  background-color: red;
  color: white;
  border-radius: 2px;
  float: right;
}

/* DEFAULT STYLES FROM CREATE REACT APP MODULE */
.App {
  text-align: center;
}
